Convert/dbf-to-csv/dbf-to-csv.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>1a8f3b76-923b-1ff7-b575-451c9a166c98</groupId>
    <name>dbf-to-csv</name>
    <snippet>
        <connections>
            <id>73b982d3-baf0-36a7-0000-000000000000</id>
            <parentGroupId>8dc38182-c9a9-3f83-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>496.0</x>
                <y>280.0</y>
            </bends>
            <destination>
                <groupId>8dc38182-c9a9-3f83-0000-000000000000</groupId>
                <id>ad814c1a-ee01-3ff3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>8dc38182-c9a9-3f83-0000-000000000000</groupId>
                <id>65bea5fa-cadf-3978-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>747bbfe7-e613-38ad-0000-000000000000</id>
            <parentGroupId>8dc38182-c9a9-3f83-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>504.0</x>
                <y>136.0</y>
            </bends>
            <destination>
                <groupId>8dc38182-c9a9-3f83-0000-000000000000</groupId>
                <id>65bea5fa-cadf-3978-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>8dc38182-c9a9-3f83-0000-000000000000</groupId>
                <id>a98b64c8-6962-395f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>78061485-1cb6-36c9-0000-000000000000</id>
            <parentGroupId>8dc38182-c9a9-3f83-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>488.0</x>
                <y>424.0</y>
            </bends>
            <destination>
                <groupId>8dc38182-c9a9-3f83-0000-000000000000</groupId>
                <id>b5b35c15-32f1-3bd6-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>8dc38182-c9a9-3f83-0000-000000000000</groupId>
                <id>ad814c1a-ee01-3ff3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <funnels>
            <id>b5b35c15-32f1-3bd6-0000-000000000000</id>
            <parentGroupId>8dc38182-c9a9-3f83-0000-000000000000</parentGroupId>
            <position>
                <x>160.0</x>
                <y>440.0</y>
            </position>
        </funnels>
        <processors>
            <id>65bea5fa-cadf-3978-0000-000000000000</id>
            <parentGroupId>8dc38182-c9a9-3f83-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>144.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Mode</key>
                        <value>
                            <name>Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Mode</key>
                        <value>Decode</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Base64EncodeContent</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.Base64EncodeContent</type>
        </processors>
        <processors>
            <id>a98b64c8-6962-395f-0000-000000000000</id>
            <parentGroupId>8dc38182-c9a9-3f83-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>A2kGDwMAAADBAVkC4wTjBAAAAAAAAAAAAAAAAAAAAADHwMPOy87CzsoxAEMAAAAAKAAAAAAAAAAAAAAAAAAAAMfAw87LzsLOyjIAQwAAAAAoAAAAAAAAAAAAAAAAAAAA1MDMyMvI3wAAAABDAAAAADwAAAAAAAAAAAAAAAAAAADKzszPwM3I3wAAAEMAAAAAPAAAAAAAAAAAAAAAAAAAAMjM3wAAAAAAAAAAQwAAAAAeAAAAAAAAAAAAAAAAAAAA08vI1sAAAAAAAABDAAAAADwAAAAAAAAAAAAAAAAAAADIzcTFytEAAAAAAEMAAAAACgAAAAAAAAAAAAAAAAAAAMPO0M7EAAAAAAAAQwAAAAAoAAAAAAAAAAAAAAAAAAAA0sXLxdTOzQAAAABDAAAAACgAAAAAAAAAAAAAAAAAAADUwMrRAAAAAAAAAEMAAAAAKAAAAAAAAAAAAAAAAAAAAM/QyMzF18DNMQAAQwAAAAA8AAAAAAAAAAAAAAAAAAAAz9DIzMXXwM0yAABDAAAAADwAAAAAAAAAAAAAAAAAAADP0MjMxdfAzTMAAEMAAAAAPAAAAAAAAAAAAAAAAAAAAA0gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIMTu8O7j7ukgz+Xy8CDR5fDj5eXi6PcsICAgICAgICAgICAgICAgICDD8O7s7uIgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICDP5fLwINHl8OPl5eLo9yAgICAgICAgICAgICAgICDS4uXw8erg/yDkLjEyIOriLjUgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAxODk2NTQgICAgzO7x6uLgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICgwOTUpIC0gOTg3NjU0MyAgICAgICAgICAgICAgICAgICAgICAgICAoMDk1KSAtIDk4NzY1NDIgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICDT4uDm4OXs++kgyOLg7SDC4PHo6/zl4uj3LCAgICAgICAgICAgICAgzODr/Pbl4iAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgwM7H0iAi0u7w4+7i7uUg7uHu8PPk7uLg7ejlIiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgyOLg7SDC4PHo6/zl4uj3ICAgICAgICAgICAgICAg0u7h7uv88erg/yDkLjgg6u7w7y4zIO706PEgNzcgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgMTIzNjU3ICAgIMzu8eri4CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAoMDk1KSAtIDg3NjU0MzIgICAgICAgICAgICAgICAgICAgICAgICAgKDA5NSkgLSA4NzY1NDMxICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAa</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1w</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>ad814c1a-ee01-3ff3-0000-000000000000</id>
            <parentGroupId>8dc38182-c9a9-3f83-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>288.0</y>
            </position>
            <bundle>
                <artifact>nifi-groovyx-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>groovyx-script-file</key>
                        <value>
                            <name>groovyx-script-file</name>
                        </value>
                    </entry>
                    <entry>
                        <key>groovyx-script-body</key>
                        <value>
                            <name>groovyx-script-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>groovyx-failure-strategy</key>
                        <value>
                            <name>groovyx-failure-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>groovyx-additional-classpath</key>
                        <value>
                            <name>groovyx-additional-classpath</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>groovyx-script-file</key>
                    </entry>
                    <entry>
                        <key>groovyx-script-body</key>
                        <value>/* Thanks to  Nikolay Akimov https://github.com/vomikan
based on https://github.com/albfernandez/javadbf#reading-a-dbf-file
Added MAX_LINES - Max lines in one OutFile
*/
import org.apache.nifi.flowfile.FlowFile
import org.apache.nifi.processor.ProcessSession
import org.apache.nifi.processor.io.InputStreamCallback

import com.linuxense.javadbf.*

static def _(String s) {
    def str1 = __(s)
    def str2 = new String(s.getBytes("ISO-8859-1"), "windows-1251")
    if (str1.length() &lt; str2.length()) { return str1} else { return str2 }
}

static def __(String s) {
    return new String(s.getBytes("ISO-8859-1"), "UTF-8")
}
def MAX_LINES=10000
ProcessSession session=session
def flowFile = session.get()
if(!flowFile) return
List&lt;FlowFile&gt; files=[]
FlowFile currentFile
OutputStream outputStream
try {
    int current=0
    session.read(flowFile, { inputStream -&gt;
        reader = new DBFReader(inputStream)
        //def charset = reader.getCharset()

        int numberOfFields = reader.getFieldCount()
        def fields = new String[numberOfFields]
        String header = ''
        for (int i = 0; i &lt; numberOfFields; i++) {
            fields[i] = reader.getField(i).getName()
            header += _(fields[i])
            if (i &lt; numberOfFields - 1) {header += ','}
        }

        DBFRow row

        files.add(session.create(flowFile))
        currentFile=files.get(files.size()-1)
        outputStream=session.write(currentFile)
        outputStream.write("${header.toString()}".getBytes('UTF-8'))
        while ((row = reader.nextRow()) != null) {
            String csv = '\n'
            for (int i = 0; i &lt; numberOfFields; i++) {
                csv += _(row.getString(fields[i]))
                if (i &lt; numberOfFields - 1) {csv += ','}
            }
            outputStream.write("${csv.toString()}".getBytes('UTF-8'))
            current++
            if (current&gt;MAX_LINES){
                current=0
                outputStream.close()
                files.add(session.create(flowFile))
                currentFile=files.get(files.size()-1)
                outputStream=session.write(currentFile)
                outputStream.write("${header.toString()}".getBytes('UTF-8'))
            }
        }
    } as InputStreamCallback)

    //transfer control to success
    if (outputStream!=null){outputStream.close()}
    if (current==0){
        //Удаляем пустой флоуфайл
        files.remove(files.size()-1)
    }

    session.transfer(files, REL_SUCCESS)
    session.remove(flowFile)
} catch (ex) {
    flowFile = session.putAttribute(flowFile, "script_error_message", ex.getMessage())
    flowFile = session.putAttribute(flowFile, "script_error", ex.toString())
    //transfer control to failure
    session.transfer(flowFile, REL_FAILURE)
    if (outputStream!=null){outputStream.close()}
    session.remove(files)
}</value>
                    </entry>
                    <entry>
                        <key>groovyx-failure-strategy</key>
                        <value>rollback</value>
                    </entry>
                    <entry>
                        <key>groovyx-additional-classpath</key>
                        <value>/opt/nifi/lib/dbf/javadbf-1.13.2.jar</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteGroovyScript</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.groovyx.ExecuteGroovyScript</type>
        </processors>
    </snippet>
    <timestamp>04/27/2022 12:50:40 MSK</timestamp>
</template>
